---
path: "/overview/checklist"
subnav: "2/Community/Communauté/2"
lang: "fr"
title: "Á contribuer"
---

<helmet>
<title> Á contribuer - Système de conception Aurora </title>
</helmet>

# Á contribuer á Aurora

Il faut plusieurs étapes et éléments pour ajouter une nouvelle composante au [système de conception Aurora](https://design.gccollab.ca/) afin qu’elle soit entièrement intégrée au système. Puisqu’Aurora fournit des conceptions complètes, un code, des lignes directrices et des documents sur l’accessibilité pour chacun des modèles ou composantes, nous avons créé une liste de vérification de ce qui doit être fait avant d’ajouter la composante au système.

Pour obtenir d’autres informations sur la façon de contribuer au système Aurora, veuillez lire notre [dossier README](https://github.com/gctools-outilsgc/aurora-website/blob/master/README.md) sur Github ou [communiquer avec nous!](mailto:sierra.duffey@tbs-sct.gc.ca) 

Les éléments nécessaires pour ajouter une nouvelle composante au système de conception Aurora sont présentés ci-dessous. 

- Concevoir la composante (dans Adobe Illustrator) et avoir un seul fichier .ai.

- Ajouter la composante à la [trousse IU Aurora](https://github.com/gctools-outilsgc/aurora-design-system/blob/master/design%20files/ui_kit.ai).

- Construire la composante :
    - si la composante fait partie de [Bootstrap](https://getbootstrap.com/), construire la catégorie personnalisable CSS;
    - si la composante est personnalisée, construire les catégories CSS et HTML applicables;
    - composante React.


- Ajouter la composante ou les composantes aux dépôts/trousses appropriés dans une nouvelle branche. 
    - [aurora-design-system repo](https://github.com/gctools-outilsgc/aurora-design-system)
    - [gctools-components repo](https://github.com/gctools-outilsgc/gctools-components)


- Créer des demandes de tirage pour ajouter la composante au projet.

- Rédiger les documents, puis les traduire. 
    - Spécifications de conception et les pratiques exemplaires.
    - Documentation HTML, y compris les facteurs à considérer relativement à l’accessibilité.
    - Documentation React.


- Ajouter la documentation au site Web dans le [dépôt du site Web Aurora](https://github.com/gctools-outilsgc/aurora-website) sur une nouvelle branche.

- Créer une demande de tirage pour ajouter la documentation au projet.
