#container{
    margin-left: 0px !important;
    height: 100%;
    overflow: auto;
}

.doc-container {
    max-width: 1250px;
    padding-left: 310px;
}

@media (max-width: 768px) { 
    .doc-container {
        padding-left: 0px;
    }
}

.hero-holder {
    background-image: url(https://raw.githubusercontent.com/gctools-outilsgc/design-system/master/project_mgmt/Aurora-Banner-large.png);
    background-size: cover;
    height: 795px;
}

.footer-holder {
    background-image: url(https://raw.githubusercontent.com/gctools-outilsgc/design-system/master/project_mgmt/Aurora-Banner-small.png);
    background-size: cover;
    height: 300px;
}
@media (max-width: 576px) { 
.scroll {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 44px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.scroll::-webkit-scrollbar {
    display: none; }


.main-nav {
    .nav-holder {
      width: 60%; 
    } 
}
.nav {
    flex-wrap: nowrap !important;
    margin: 0 !important;
}
}

@media (max-width: 815px) { 
    .nav-site {
        .nav-link {
            padding: 8px 10px;
            
        }
    }
 }
