#sidenav{
    background-color: #F2F7F7;
    display: inline-block;
    min-width: 300px;
    border-right: 1px solid;
    border-color: #D3D3D3;
    margin-left: 0px !important;
    position: absolute; 
    bottom: 0;
    top: 0;
}
#title{ //#h2?
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 10px !important;
    font-family: 'Rubik', sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}