#sidenav{
    background-color: #F2F7F7;
    display: inline-block;
    max-width: 300px;
    width:100%;
    border-right: 1px solid;
    border-color: #D3D3D3;
    margin-left: 0px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    min-height: 100vh;
    overflow-y: auto;
}
#title{ //#h2?
    margin-top: 16px;
    margin-left: 25px;
    margin-bottom: 10px !important;
    font-family: 'Rubik', sans-serif;
    font-size: 1.75em;
    font-weight: 400;
}
