//Custom styles for theme


//Alerts

@each $color, $value in $theme-colors {
    .alert-#{$color} {
      color: $black;
     box-shadow: $dropdown-box-shadow;
    }

    .alert-icon.alert-#{$color} {
      padding:0;
      position: relative;
      display: flex;
      .icon {
          font-size: $font-size-lg;
          color: $white;
          background-color: theme-color-level($color, -2);
          width:50px;
          border-top-left-radius: 0.35rem;
          border-bottom-left-radius: 0.35rem;
      }
      .message {
          padding: $alert-padding-y $alert-padding-x;
          flex: 1;
      }
      }

      .alert-icon.alert-dismissible .message {
          padding: 0 $alert-padding-x;
          margin: $alert-padding-y 60px $alert-padding-y $alert-padding-x;
          border-right: 1px solid #e0e0e0;
      }
}

.alert-icon-border {
    background-color: $white;
}

//Forms

.form-control {
    border-radius: $border-radius-sm;
}

button.switch {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 24px;
    border: 2px solid #666666;
    border-radius: 16px;
    display: inline-block;
    margin-right: 0.25em;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font: 12px "Open Sans", "Arial", serif;
  }

  button.switch span {
    padding: 0 4px;}

  [role="switch"][aria-checked="false"] :first-child,
  [role="switch"][aria-checked="true"] :last-child {
    background: white;
    color: #eef;
    border-radius: 16px;
    padding: 2px;
  }

  [role="switch"][aria-checked="false"] :last-child,
  [role="switch"][aria-checked="true"] :first-child {
    color: #bbd;
  }

  label.switch {
    font: 16px "Open Sans", "Arial", sans-serif;
    line-height: 20px;
    user-select: none;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .switch {
    display: inline-flex;
    align-items: center;
    margin: 5px 0;
    position:relative;

    .switch__toggle {
      cursor: pointer;
      margin-right: 5px;
    }

    .switch__toggle::before,
    .switch__toggle::after {
      content: '';
      background: #E3E4E5;
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      display: block;
    }

    .switch__toggle::before {
      height: 1.65em;
      width: 3em;
      border-radius: 30px;
      opacity: 0.6;
      border:1px solid #666666;
    }

    .switch__toggle::after {
      background:white;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: 1.5em;
      width: 1.5em;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.4);
    }

    [type=checkbox]:checked+.switch__toggle::before {
      background: #FEC04F;
      opacity: 0.8;
    }

    [type=checkbox]:checked+.switch__toggle::after {
      transform: translate(100%, -50%);
    }

    [type=checkbox]:disabled+.switch__toggle {
      cursor: not-allowed;
      filter: grayscale(100%);
      opacity: 0.6;
    }

    [type=checkbox]:disabled+.switch__toggle::after {
      box-shadow: none;
    }

    [type=checkbox]:focus+.switch__toggle {
      outline: 0;
      border-radius:30px;
      box-shadow: 0 0 0 0.2rem rgba(0, 45, 66, 0.25);
    }

    [type=checkbox] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }

  /* Search box */
.search-form .form-control {
    padding-right: 40px;
}

  .search-form .search-form-addon {
    background: transparent;
  }

  .search-form-addon {
    position: relative;
    background: transparent;
    padding: 4px;
    left: -40px;
  }

  .search-form-addon button {
    border: 0;
    background: transparent;
  }

  .search-form.search-form-round {
      .form-control {
          border-radius: 16px;
      }
      .search-form-addon {
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
      }
  }

.custom-control-label::before {
    top:0.125rem;
    width: 1.125rem;
    height:1.125rem;
    background-color: #f9f9f9;
    box-shadow: inset 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    border: 1px solid #96A8B2;
  }

.custom-checkbox {
  .custom-control-label::after {
    top:0.125rem;
    width: 1.125rem;
    height:1.125rem;
    background-size: 78% 78%;
  }
}

.custom-radio {
  .custom-control-label::after {
    top:0.125rem;
    left:-1.5rem;
    width: 1.125rem;
    height:1.125rem;
    background-size: 78% 78%;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23002D42'/%3E%3C/svg%3E");
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color:$primary;
    background-color:transparent;
  }
}


// custom checkbox/radio validation
.was-validated .custom-control-input:invalid ~ .custom-control-label::before,
.custom-control-input.is-invalid ~ .custom-control-label::before {
  background-color: transparent;
  border-color: $danger;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before,
.custom-control-input.is-valid ~ .custom-control-label::before {
  background-color: transparent;
  border-color: $success;
}

//Cards

.card {
    box-shadow: $dropdown-box-shadow;
    border-radius: $border-radius-lg;
}

.card-header, .card-footer {
    background: transparent;
    margin: 0 $card-spacer-x;
    padding: $card-spacer-y 0;
}

a .card {
    text-decoration: none;
}

.card-profile {
    display: flex;
}

.card-profile .card-body {
    flex: 1;
}

.card-profile .avatar {
    margin-top: -70px;
    width: 90px;
    height: 90px;
}

//Menus
.dropdown-menu {
    border-radius: $border-radius-sm;
}
a.dropdown-item {
    text-decoration: none;
}

.dropdown-divider {
    margin:0;
}

//Navbars

.navbar a {
    text-decoration: none !important;
}

.navbar-brand {
    margin-right: 3rem;
}

.navbar-light .nav-item:hover {
    background-color: $gray-200;
    border-radius: $border-radius;
}

.navbar-light .nav-item.active {
    background-color: $gray-200;
    border-radius: $border-radius;
}

.navbar-dark .nav-item.active {
    background-color: rgba(255,255,255, 0.15);
    border-radius: $border-radius;
}

.navbar-dark .nav-item:hover {
    background-color: rgba(255,255,255, 0.15);
    border-radius: $border-radius;
}

//Nav Tabs

.nav-tabs .nav-link {
    text-decoration: none;
    padding: $nav-link-padding-y $nav-link-padding-x .2rem $nav-link-padding-x;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

//Nav breadcrumbs

.breadcrumb {
  background-color: transparent;
}

//Nav pagination
.pagination {

  .page-link {
    border:none;
    background:transparent;
    margin: 0 3px;
    border-radius:$border-radius;
  }

  .page-item:first-child,
  .page-item:last-child {
    .page-link {
        border:1px solid $primary;
    }
  }

  .page-link:hover {
    background-color: $primary;
    color:white;
  }

}

//Modals
.modal-header, .modal-footer {
    border: none;
}

//Helper Classes

.bd-example {
    position: relative;
}

.bd-example>.dropdown-menu:first-child {
    position: static;
    display: block;
}

//Avatars

.avatar {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-sm;
    background: #F7F9FA;
    color: #fff;
}

.avatar.avatar-sm {
    width: 26px;
    height: 26px;
}

.avatar.avatar-lg {
    width: 115px;
    height: 115px;
}

.media .avatar {
    margin-right: 15px;
}

//Media

.media.media-comment {
    margin: 1rem 0;
}
.media .media-footer {
    margin-top: 5px;
}

.media.media-nested-comment {
    margin: 0.75rem 0;
    border-left: 1px solid $primary;
    padding-left: 1rem;
}

//Tags / Badges

.badge-tag {
    position: relative;
    padding-left: 16px;
    padding-bottom: 6px;
    margin-left: 10px;
    .close {
        font-size: 16px;
        color: white;
        text-shadow: none;
        margin-left: 3px;
    }
}

.badge-tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 3px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.badge-tag::after {
    border-bottom: 13px solid transparent;
    border-right: 10px solid $primary;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-radius: 20px;
  }

.badge-secondary {
  color: #fff;
  background-color: #4D5D6C;
}

.badge-info {
  background-color:#245269;
  color:#ffffff;
}

  //Table

  .table thead th {
      border-bottom: 3px solid #96A8B2;
      border-top: none;
  }

  body {
    padding-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
  }

    .LanguageSwitcher__button--selected {
        display:none;
    }

    .nav-site {
        .nav-link {
            padding: 8px 16px;

        }
        .nav-link.active {
            background-color: transparent !important;
        }
    }

  //Secondary Buttons

  .btn-secondary {
    @include button-outline-variant($primary);
  }

/* ADDED FOR DS*/
h1, .h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
}

h2, .h2, h4, .h4 {
  font-family: 'Rubik', sans-serif;
  font-weight:400;
}

h3, .h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h6, .h6 {
  font-weight: 700;
}

.highlight {
    color: #467B8D;
    font-weight: bold;
}

.card-title {
    font-weight: 700;
}

.btn {
    font-weight: 600!important;
    font-family: 'Nunito Sans', sans-serif;
}

.ext-links div {
    display: inline;
}

a.ext-link-text {
    color:black;
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.aurora-skip {
    left: 45%;
    background-color: $primary;
    padding: 5px;
    color: white;
}

a {
  color: $link-color;
}
