// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

//$body-bg: #ededed;
//.jumbotron {
//    background-color: #ffffff !important;
//    border-top: 3px solid rgb(219, 219, 219);
//}


// Enabling shadows and gradients
$enable-shadows: true;
//$enable-gradients: true;

//$link-decoration: underline;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
$border-radius: 2px;

// Changing the theme colors
$primary: #e79a0a;
$secondary: #4d5d6c;
$success: #278400;
$info: #269abc;
$warning: #ff9900;
$danger: #d3080c;
$light: #FFFFFF;
//$dark: #0f1319;

//Alerts
$alert-bg-level: -12;

//Form Inputs

$input-border-color: #CCCCCC;
$input-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
$input-focus-border-color: #269abc;
$input-focus-box-shadow: none;

$label-margin-bottom: 0.2rem;

$custom-checkbox-indicator-icon-checked: white;
$custom-checkbox-indicator-icon-indeterminate: none;
$custom-checkbox-indicator-indeterminate-color: white;


//Buttons

$btn-box-shadow: none;

//Breadcrumbs

$breadcrumb-divider: quote(">");

//Cards

$card-spacer-x: 0.75rem;

//Dropdowns

$dropdown-border-color: #cccccc;
$dropdown-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
$dropdown-divider-bg:  #d7d7d7;
$dropdown-padding-y: 0;

$dropdown-link-hover-bg: #e6e6e6;

$dropdown-item-padding-y: .5rem;
// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
