// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

//$body-bg: #ededed;
//.jumbotron {
//    background-color: #ffffff !important;
//    border-top: 3px solid rgb(219, 219, 219);
//}


// Enabling shadows and gradients
$enable-shadows: true;
//$enable-gradients: true;

$link-decoration: none;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
$border-radius: .35rem;
$border-radius-lg: .5rem;

// Changing the theme colors
$primary: #002D42;
$secondary: #002D42;
$success: #278400;
$info: #269abc;
$warning: #ff9900;
$danger: #d3080c;
$light: #FFFFFF;
//$dark: #0f1319;

$body-bg: #FAFAFA;

//Alerts
$alert-bg-level: -12;

//Form Inputs

$input-border-color: #CCCCCC;
$input-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
$input-focus-border-color: #269abc;
$input-focus-box-shadow: 0px 0px 2px rgba(38, 154, 188, 0.7);

$label-margin-bottom: 0.2rem;

//$custom-checkbox-indicator-icon-checked: white;
//$custom-checkbox-indicator-icon-indeterminate: none;
//$custom-checkbox-indicator-indeterminate-color: white;

//Badges

$badge-font-size: 100%;
$badge-font-weight: normal;

//Buttons

$btn-box-shadow: none;

//Breadcrumbs

$breadcrumb-divider: quote(">");
$breadcrumb-active-color: black;
//Cards

$card-spacer-x: 0.75rem;
$card-border-width: 0px;

//Dropdowns

$dropdown-border-color: #cccccc;
$dropdown-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
$dropdown-divider-bg:  #d7d7d7;
$dropdown-padding-y: 0;

$dropdown-link-hover-bg: #e6e6e6;

$dropdown-item-padding-y: .5rem;

//Modals

$modal-content-border-radius: 2px;


//Navbar

$navbar-nav-link-padding-x: .75rem;
$navbar-light-color: black;
$navbar-light-hover-color: black;
$navbar-dark-color: white;
$navbar-dark-hover-color: white;

//Tabs

$nav-tabs-border-color: #cccccc;
$nav-tabs-border-width: 2px;
$nav-tabs-link-active-border-color: transparent transparent #002d42;
$nav-tabs-link-hover-border-color: transparent transparent #002d42;

//Tables

$table-border-color: #96A8B2;
$table-hover-bg: #F2F5F6;
$table-accent-bg: #F2F5F6;

//links
$link-color:#0278A4;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);
