/* Proper anchor link fpcus */
:target::before {
  content: "";
  display: block;
  height: 110px;
  margin: -110px 0 0;
}

#container{
  margin-left: 0px !important;
  height: 100%;
  overflow: auto;
}

.gr-example{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: #CCCCCC;
    border: 1px solid rgba(86,61,124,0.2);
}

.doc-container {
  max-width: 1250px;
  padding-left: 310px;
  .foot-container {
    padding:0;
  }
  footer {
      margin-top:35px;
  }
}

.footer {
  ul {
    border-top: 1px solid #CECECE;
    list-style: none;
    padding: 15px;
    li {
      display: inline-block;
      margin-right:15px;
    }
  }
}

.aurora-search-results {
  border-radius: 0.35rem;
}

.aurora-search-results a:hover, .aurora-search-results a:focus {
  color: #fff;
  background:#467B8D;
}

.gatsby-highlight {
  margin: 10px;
}

@media (max-width: 768px) {
  .doc-container {
      padding-left: 15px;
      margin-top: 60px !important;
  }
}

.hero-holder {
  background-image: url("../img/quantum-background.png");
  background-size: 40%;
  background-repeat:no-repeat;
  background-position: right;
  background-position-y: 60px;  
  height: 695px;
  padding: 70px 0px;
  
  .lead {
      max-width: 70%;
  }
}

.home-body {
  margin-top: -100px;
}

.footer-holder {
  background-image: url(https://raw.githubusercontent.com/gctools-outilsgc/aurora-website/master/src/img/aurora-banner-small.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: left bottom;
  height: 300px;
  .lead {
    max-width:50%;
    float:right;
  }
}

.ui-mask {
z-index:10;
top:0;
bottom:0;
left:0;
right:0;
background-color: rgba(0,0,0,.4);
position:fixed;
}

.doc-hidden {
  display:none;
}

@media (max-width: 768px) {
  .hero-holder {
      background-size: contain;
      height: 535px;
      background-position-x: 280px;
      background-position-y: 195px;
      background-repeat: no-repeat;
      .lead {
          max-width: 100%;
      }
      .container {
        margin-top:20px;
      }
      padding: 0px;
  }
  .home-body {
      margin-top: 40px;
  }

  .footer-holder {
      background-image: none;
      .lead {
        max-width:100%;
      }
  }
  :target::before {
    content: "";
    display: block;
    height: 170px;
    margin: -170px 0 0;
  }

}


@media (max-width: 576px) {
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 44px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
  display: none; }


.main-nav {
  .nav-holder {
    width: 60%;
  }
  .nav {
  flex-wrap: nowrap !important;
  margin: 0 !important;
  }
}
.hero-holder {
  background-image:none;
  height:auto;
  .lead {
    font-size:1.1rem;
  }
}
.footer-holder {
  .lead {
    font-size:1.1rem;
  }
}
.doc-container {
    padding-left: 15px;
}
}

@media (max-width: 815px) {
  .nav-site {
      .nav-link {
          padding: 8px 10px;

      }
  }
}
